.section-101__call-to-action {
  overflow: hidden;
  padding: 36px 40px 24px;
  margin-bottom: 40px;
}
.section-101 .section-101__call-to-action a.btn {
  margin-top: 20px;
}
.section-101 .section-101__call-to-action h3 span {
  color: #1abc9c !important;
}
.section-101 .section-101__call-to-action .btn {
  border-radius: 3px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 12px 20px;
  position: relative;
  overflow: hidden;
  background-color: #1abc9c;
  border-width: 1px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin-bottom: 6px;
  outline: 0;
  line-height: 14px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
.section-101 .section-101__call-to-action .btn:hover {
    outline: 0!important;
    background-color: #148f77;
    border-color: #148f77;
    color: #fff;
}


/* Section 102 call to action */

.section-102__call-to-action {
  overflow: hidden;
  padding: 36px 40px 24px;
  margin-bottom: 40px;
      background: #fff;
    border: 1px solid #eee;
}
.section-102 .section-102__call-to-action a.btn {
  margin-top: 20px;
}
.section-102 .section-102__call-to-action h3 span {
  color: #1abc9c !important;
}
.section-102 .section-102__call-to-action .btn {
  border-radius: 3px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 12px 20px;
  position: relative;
  overflow: hidden;
  background-color: #1abc9c;
  border-width: 1px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin-bottom: 6px;
  outline: 0;
  line-height: 14px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
.section-102 .section-102__call-to-action .btn:hover {
    outline: 0!important;
    background-color: #148f77;
    border-color: #148f77;
    color: #fff;
}



/* Section 103 call to action */

.section-103__call-to-action {
  color: #fff;
  overflow: hidden;
  padding: 36px 40px 24px;
  margin-bottom: 40px;
      background: #1abc9c;

}
.section-103 .section-103__call-to-action a.btn {
  margin-top: 20px;
}
.section-103 .section-103__call-to-action h3 span {
  color: #3f3f3f !important;
}
.section-103 .section-103__call-to-action .btn {
  border-radius: 3px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 12px 20px;
  position: relative;
  overflow: hidden;
  background-color: none;
  border-color: #fff;
  border-width: 1px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin-bottom: 6px;
  outline: 0;
  line-height: 14px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
.section-103 .section-103__call-to-action .btn:hover {
    outline: 0!important;
    background-color: #fff;
    border-color: #fff;
    color: #3f3f3f;
}


/* Section 104 call to action */

.section-104__call-to-action {
  overflow: hidden;
  padding: 36px 40px 24px;
  margin-bottom: 40px;
  background-color: #252525;
  color: #fff;
}
.section-104 .section-104__call-to-action a.btn {
  margin-top: 20px;
}
.section-104 .section-104__call-to-action h3 span {
  color: #1abc9c !important;
}
.section-104 .section-104__call-to-action .btn {
  border-radius: 3px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 12px 20px;
  position: relative;
  overflow: hidden;
  background-color: #1abc9c;
  border-width: 1px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin-bottom: 6px;
  outline: 0;
  line-height: 14px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
.section-104 .section-104__call-to-action .btn:hover {
    outline: 0!important;
    background-color: #148f77;
    border-color: #148f77;
    color: #fff;
}

/* Section 105 call to action */

.section-105__call-to-action {
  overflow: hidden;
  padding: 36px 40px 24px;
  margin-bottom: 40px;
  text-align: center;
}
.section-105 .section-105__call-to-action a.btn {
  margin-top: 20px;
}
.section-105 .section-105__call-to-action h3 span {
  color: #1abc9c !important;
}
.section-105 .section-105__call-to-action .btn {
  border-radius: 3px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 12px 20px;
  position: relative;
  overflow: hidden;
  background-color: #1abc9c;
  border-width: 1px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin-bottom: 6px;
  outline: 0;
  line-height: 14px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
.section-105 .section-105__call-to-action .btn:hover {
    outline: 0!important;
    background-color: #148f77;
    border-color: #148f77;
    color: #fff;
}


/* Section 106 call to action */

section.section-106{
  border-top: 1px  solid #eee;
  border-bottom: 1px  solid #eee;
    margin-bottom: 40px;
}

.section-106__call-to-action {
  overflow: hidden;
  padding: 36px 40px 24px;
      background: #fff;
    
}
.section-106 .section-106__call-to-action a.btn {
  margin-top: 20px;
}
.section-106 .section-106__call-to-action h3 span {
  color: #1abc9c !important;
}
.section-106 .section-106__call-to-action .btn {
  border-radius: 3px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 12px 20px;
  position: relative;
  overflow: hidden;
  background-color: #1abc9c;
  border-width: 1px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin-bottom: 6px;
  outline: 0;
  line-height: 14px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
.section-106 .section-106__call-to-action .btn:hover {
    outline: 0!important;
    background-color: #148f77;
    border-color: #148f77;
    color: #fff;
}



/* Section 107 call to action */

section.section-107{
background: #1abc9c;
    margin-bottom: 40px;
}


.section-107__call-to-action {
  color: #fff;
  overflow: hidden;
  padding: 36px 40px 24px;
      

}
.section-107 .section-107__call-to-action a.btn {
  margin-top: 20px;
}
.section-107 .section-107__call-to-action h3 span {
  color: #3f3f3f !important;
}
.section-107 .section-107__call-to-action .btn {
  border-radius: 3px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 12px 20px;
  position: relative;
  overflow: hidden;
  background-color: none;
  border-color: #fff;
  border-width: 1px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin-bottom: 6px;
  outline: 0;
  line-height: 14px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
.section-107 .section-107__call-to-action .btn:hover {
    outline: 0!important;
    background-color: #fff;
    border-color: #fff;
    color: #3f3f3f;
}


/* Section 108 call to action */

section.section-108{
background: #252525;
    margin-bottom: 40px;
}

.section-108__call-to-action {
  overflow: hidden;
  padding: 36px 40px 24px;
  color: #fff;
}
.section-108 .section-108__call-to-action a.btn {
  margin-top: 20px;
}
.section-108 .section-108__call-to-action h3 span {
  color: #1abc9c !important;
}
.section-108 .section-108__call-to-action .btn {
  border-radius: 3px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 12px 20px;
  position: relative;
  overflow: hidden;
  background-color: #1abc9c;
  border-width: 1px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin-bottom: 6px;
  outline: 0;
  line-height: 14px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
.section-108 .section-108__call-to-action .btn:hover {
    outline: 0!important;
    background-color: #148f77;
    border-color: #148f77;
    color: #fff;
}
